<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="Laravel HMRC API Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="HMRC_CLIENT_ID" value="test_client_id" />
        <env name="HMRC_CLIENT_SECRET" value="test_client_secret" />
        <env name="HMRC_SERVER_TOKEN" value="test_server_token" />
        <env name="HMRC_CALLBACK_URI" value="test_callback_uri" />
    </php>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="tap" target="build/report.tap"/>
        <log type="junit" target="build/report.junit.xml"/>
        <log type="coverage-text" target="build/coverage.txt"/>
        <log type="coverage-html" target="build/html/"/>
        <log type="coverage-clover" target="build/logs/cover.xml"/>
    </logging>
</phpunit>
